html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

a {
    text-decoration: none;
}

body {
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 50px;
	margin-bottom:50px;
	min-width:820px
	%!important;
}

.content {
	width: 100%;
	max-width: 620px;
	font-family: 'Work Sans', sans-serif;
}

.logo {
    background: #333 url(../images/Logo.jpg) no-repeat 50% 50%;
    background-size: cover;
    height: 105px;
	width: 105px;
	float: left;
}

.logo2 {
    background: #333 url(../images/Logo2.jpg) no-repeat 50% 50%;
    background-size: cover;
    height: 105px;
	width: 105px;
	float: right;
}

.image {
	background: #333 url(../images/image1.jpg) no-repeat 50% 50%;
    background-size: cover;
    height: 300px;
	max-width: 606px;
	float: center;
	margin-top:20px;
}

@media only screen and (max-width: 480px){
    .emailImage{
        height:auto !important;
        max-width:600px !important;
        width: 100% !important;
    }
}

.text {
    background-size: cover;
    /*height: 340px;*/
	height: 500px;
	max-width: 380px;
	float: left;
	margin-top:20px;
	font: district thin
}

.text2 {
    background-size: cover;
    height: 223px;
	max-width: 178px;
	float: right;
	margin-top:20px;
}


.button {
	background: #333 url(../images/button1.jpg) no-repeat 50% 50%;
    background-size: cover;
    height: 45px;
	margin-left:auto;
	margin-right:auto;
	display: block;
}

.image2{
	background: #333 url(../images/4images.jpg) no-repeat 50% 50%;
    background-size: cover;
    height: 257px;
	width: 291px;
	float: left;
	margin-top:20px;
	margin-right: 10px;
}

.image3{
	background: #333 url(../images/image3.jpg) no-repeat 50% 50%;
    background-size: cover;
    height: 255px;
	width: 300px;
	float: left;
	margin-top:20px;
	
}

.image4{
	background: #333 url(../images/image4.jpg) no-repeat 50% 50%;
	background-size: cover;
    height: 91px;
	width: 609px;
	float: center;
	margin-top:20px;
}
